<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Web App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>
<body>


    <!-- Navbar -->
    <!--Royal Blue: #214ed3-->
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #214ed3;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class = "image-fluid" src = "/static/images/logo.svg" alt = "" width = "75">
                Facial Emotion Recognition Web App
            </a>
        

            <div class = "collapse navbar-collapse">
                <div class="navbar-nav">
                    
                        <a class="nav-item nav-link" href="/">Home</a>                
                        <a class="nav-item nav-link" href="/application">App</a>
                    
                </div>
            </div>
        </div>
    </nav>  
    
    <!--template inheritance-->

    {% block bodyblock %}

    {% endblock %}
    
</body>
</html>